<html>
  <%- include('header',{title: `Submit New Sighting`}); -%>
  <h1>Input your sighting below</h1>
  <div class="d-flex" id="block2">
    <form action="/sighting" method="POST">
      <div class="container" id="block">
        <div class="row">
          <div class="col-md-12 col-12">
            <label for="text">Description</label>
            <div class="input-group mb-3">
              <textarea
                class="form-control"
                id="entry"
                name="text"
                rows="6"
                cols="50"
              >
              </textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-12">
            <label for="date">Date & Time (YYYY-MM-DD HH:MM)</label>
            <div class="input-group mb-3">
              <input type="text" id="entry" name="date_time" />
            </div>
          </div>
          <div class="col-md-6 col-6">
            <label for="city">City</label>
            <div class="input-group mb-3">
              <input type="text" id="entry" name="city" />
            </div>
          </div>
          <div class="col-md-6 col-6">
            <label for="state">State</label>
            <div class="input-group mb-3">
              <input type="text" id="entry" name="state" />
            </div>
          </div>
          <div class="col-md-6 col-6">
            <label for="shape">Shape</label>
            <div class="input-group mb-3">
              <input type="text" id="entry" name="shape" />
            </div>
          </div>
          <div class="col-md-6 col-6">
            <label for="duration">Duration</label>
            <div class="input-group mb-3">
              <input type="text" id="entry" name="duration" />
            </div>
          </div>
          <div class="col-md-12 col-12">
            <label for="summary">Summary</label>
            <div class="input-group mb-3">
              <textarea
                class="form-control"
                id="entry"
                name="summary"
                rows="3"
                cols="50"
              >
              </textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-3">
            <input type="submit" value="Submit" />
          </div>
        </div>
      </div>
    </form>
  </div>
  <%- include('footer'); -%>
</html>
